*˜
scripts/docker/whatsapp/session.json
*.pyc
.svn
.DS_Store
.DS_Store?
._*
*.un~
settings.py
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.project
.pydevproject
.settings/*
comum/fixtures/test.json
upload/*
.idea/*
.un~
deploy/logs/*
deploy/logs/gunicorn/gunicorn*
deploy/logs/nginx/access*
deploy/logs/nginx/error*
deploy/logs/*.log
deploy/logs/supervisor/err*
deploy/logs/supervisor/out*
deploy/gunicorn_start.sh
deploy/sessions/sessionid*
deploy/static/*
deploy/media
deploy/documentacao/*
deploy/emails.json
docs/tecnica/.build/*
docs/tecnica/.static/*
docs/usuarios/.build/*
docs/usuarios/.static/*
htmlcov/
doc_menus/
docs/usuario/.build/*
docs/usuario/.static/*
.coverage
.ropeproject/
financeiro/arquivos/*
progressoes/*.wpr
progressoes/*.wpu
deploy/random_password.txt
src/*
logs/
suap.env
contratos/upload/*
cursos/editais/*
editais/*
nohup.out
planejamento/arquivos/*
ps/arquivos/*
ps/importacao/*
saml2idp/keys/*
sync_suap.log
static/*
venv/
.venv/
suap/static/*
suap_env/
.suap_env/
.vscode
tags
